<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Flask Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Basic Web App Example</h1>
        <h3>Basic Web App Example</h3>
        <h2>Basic Web App Example</h2>
        <p id="paragraph">And I in going, madam, weep o'er my father's death
            anew: but I must attend his majesty's command, to
            whom I am now in ward, evermore in subjection.</p>
    </div>

    <div class="container">
        <button onclick="changeText()">Click Me</button>
    </div>
</body>
</html>
